bin/
include/
lib/
lib64
res-0.03m_dmax-0.50m_rmax-10.0m/loop/*.tum
res-0.03m_dmax-0.50m_rmax-10.0m/nav_a_diff/*.tum
res-0.03m_dmax-0.50m_rmax-10.0m/nav_a_omni/*.tum
res-0.03m_dmax-0.50m_rmax-10.0m/slippage/*.tum
res-0.03m_dmax-0.50m_rmax-20.0m/loop/*.tum
res-0.03m_dmax-0.50m_rmax-20.0m/nav_a_diff/*.tum
res-0.03m_dmax-0.50m_rmax-20.0m/nav_a_omni/*.tum
res-0.03m_dmax-0.50m_rmax-20.0m/slippage/*.tum
res-0.03m_dmax-0.50m_rmax-25.0m/loop/*.tum
res-0.03m_dmax-0.50m_rmax-25.0m/nav_a_diff/*.tum
res-0.03m_dmax-0.50m_rmax-25.0m/nav_a_omni/*.tum
res-0.03m_dmax-0.50m_rmax-25.0m/slippage/*.tum
res-0.03m_dmax-0.50m_rmax-30.0m/loop/*.tum
res-0.03m_dmax-0.50m_rmax-30.0m/nav_a_diff/*.tum
res-0.03m_dmax-0.50m_rmax-30.0m/nav_a_omni/*.tum
res-0.03m_dmax-0.50m_rmax-30.0m/slippage/*.tum
share/
pyvenv.cfg
